.social-icon{
 padding: 15px;
}
.foot-contact{
    text-align: center;
}
.special{
    display: inline-block !important;
    padding-right: 20px;
}
.my-options{
    display: block !important;
}
#my-img{
    border-radius: 50 !important;
    height: 300px;
}
.slide{
    display: block;
    position: relative;
    height: 100px;
    width: 200px;
    background-repeat: no-repeat;
}
.row{
    position: relative;
    left: 400px;
  }
   /* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
padding: auto;
border: 1px solid #888;
width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
} 
#img-holder{
  height: 300px;
}
.gallery{
    position: relative;
    left: 50px;
    display: inline-block;
    margin: 5px;
    height: 100px;
}
#firstSlide{
    float: left;
}
#secondSlide{
    float: left;
}
#thirdSlide{
    float: left;
}