.social-icon{
 padding: 15px;
}
.foot-contact{
    text-align: center;
}
.special{
    display: inline-block !important;
    padding-right: 20px;
}
.my-options{
    display: block !important;
}