html {
    scroll-behavior: smooth;
  }
* {
    scroll-behavior: smooth;
}
.social-icon{
 padding-right: 15px;
 padding-bottom: 15px;
}
.foot-contact{
    text-align: center;
}
.special{
    display: inline-block !important;
    padding-right: 20px;
}
.specialBlock{
    display: block !important;
    padding-right: 20px;
}
.my-options{
    display: block !important;
}
.my-img{
    height: 450px;
    width: 400px;
}
.slide{
    display: inline-block;
    position: relative;
    height: 100px;
    width: 80px;
    background-repeat: no-repeat;
    margin: auto;
}
#banner{
    height: 90vh;
}
.row{
    position: relative;
    left: 400px;
  }
.gallery{
    text-align: center;
}
   /* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
margin: 15% auto; /* 15% from the top and centered */
width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 30px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
} 
#img-holder{
    margin-left: 250px;
}

#backShuffle{
    float: left;
    margin-top: 20px;
}
#forwardShuffle{
    float: right;
    margin-top: 20px;
}
#view{
    position: relative;
    top: 50px;
    padding: 450px;
    padding-left: 500px;
}
a{
    text-decoration: none;
}
a :hover{
    text-decoration: none;
}
ul{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
.smallLogo{
    height: 15px;
    width: 15px;
    position: relative;
    top:1px;
    right:5px;
    color: white;
    margin-left: 5px;
    margin-right: 10px;
}
#toTop{
    text-align:center;
}
.goToButton{
    float: right;
    border: 2px solid #5b6ba6;
    width: fit-content;
    padding: 0.25rem;
    border-radius: 5px;
}
.goToButton:hover{
    cursor: pointer;
    background-color: #5b6ba6;
}